$bg: #f5f5f5;
$border: #d0d2d4;
$light-border: #d3d3d3;
$border-radius: 3px;
$bg-header: #292966;
$info-text: #a1a9b5;
$primary-color: #516eb7;
$text-color: #434a54;
$text-danger: #dd3541;

$card-colours: #fff, #b4daec, #dccee8, #ffbab1, #bce8db, #f8e68a, #6a6a6a,
  #1672a0, #945594, #c83f1a, #008761, #915900;
$group-colours: #5d9cec, #ad6bfc, #6bcbfc, #fc6b6b, #6d82ff, #cefc6b, #6bfbfc,
  #fcd06b, #6bfc6b, #f98aeb, #fd985c;
